
body {
    margin: 20px;
    font-size: 16px;
    max-width: 100%; /* needed for centering? */
}

#header {
    width: 600px;
    margin: auto;
    margin-bottom: 40px;
}

#gallery-container {
    width: 990px;
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 12px;
    margin: auto;
}

.card {
    width: 315px;
    height: 400px;

    border: 1px solid gray;

    font-size: 16px;
    margin: 1px;
    overflow: hidden;
}

.card-img {
    height: 250px;
    background-color: #e9dccf;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 1.5px dashed gray;
}

.soft-icon {
    height: 120px;
    border: 1px solid gray;
    border-radius: 7px;
}

.card p {
    font-size: 14px;
    white-space: revert;
}

.card-description {
    padding: 15px;
}

.card-description a {
    padding: 0 3px;
}

#table-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#inner-container {
    width: 600px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.styled-table td {
    padding: 8px 14px 14px 0;
    text-align: left;
}

.styled-table td:nth-child(2) {
    text-align: right;
    width: 140px;
}

.styled-table td:nth-child(3) {
    text-align: right;
    width: 52px;
}

.project-name {
    font-weight: bold;
}
