body {
    max-width: 1074px;
    margin: auto;
    margin-bottom: 70px;
    font-size: 17px;
    color: #202020;
    background-color: linen;
}

p {
    white-space: pre-wrap;
    line-height: 1.35;
}

img {
    user-select: none; /* just think it looks like shit when you can drag images accidentally */
}

ol {
    list-style-type: bengali;
}