body {
    max-width: 1074px;
    margin: auto;
    margin-bottom: 70px;
    font-size: 17px;
    color: #202020;
    background-color: #d4d4d4;
}

p {
    white-space: pre-wrap;
    line-height: 1.35;
}

img {
    user-select: none; /* just think it looks like shit when you can drag images accidentally */
}

ol {
    list-style-type: bengali;
}
/*
::selection {
    color: #303030;
    background: #f0f0f0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    background: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
*/